/* to convert font to responsive style we use 'em'
target/context = result
*/

html{
	font-size: 16px;
}

body{
	background-color: #EAEAEA;
	color: #333332;
	font-size: 62.5%; /* 1em = 10px */ 
}

h1{
	font-size: 3em; /* 30px/10px */
	font-family: 'MyWebFont';
}

h1 a {
 font-size: 0.6666667em;
 color: #57AD68;
}

.site{
	margin: 40px auto;
	width: 940px;
}

.content{
	float: left;
	width: 600px;
}

.sidebar{
	width: 305px;
	float: left;
}

@font-face {
	font-family: 'MyWebFont';
	src: url('fonts/CartoGothicStd-Book.otf')  format('opentype')
}

